*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/*Link para ícone https://fonts.google.com/icons*/
body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ededed;
	color: #c059e0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 900;
    font-size: 25px;
}

.opcoes_perfil{
	margin-top: 50px;
	font-size: 22px;
}

hr{
	color: #b521e2;
}

.opcao_perfil{
	margin-top: 18px;
	margin-bottom: 18px;
	margin-left: 20px;
	margin-right: 20px;
	display: block;
	display: flex;
	align-items: left;
}

.icon{
	width: 25px;
	height: 25px;
}

input[id=nome]{
	border-color: none;
	outline: none; 

}

input:focus {
	border-color: none;
	outline: none; 
}

.input:hover{
	background-color: #b521e22c;
	border: none
}

.componente{
	margin-top: 18px;
	margin-bottom: 18px;
	margin-right: 20px;
	font-size: 21px;
}

a{
	text-decoration: none;
	color: #6e6d6e;
	margin-left: 2%;
}

.botoes{
	text-align: right;
	margin-right: 10%;
	margin-top: 10%;
}

.botaoEditar{
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	margin-right: 5%;
	background-color: #b521e2;
	align-items: center;
	border: none;
}

.botaoSalvar{
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: #86dc84;
	align-items: center;
	border: none;
}

.aviso-do-aviso{
	align-items: center;
	text-align: center;
}

.container-aviso{
	text-align: center;
	width: 80%;
	border-radius: 30px;
	margin-bottom: 10%;
	margin-top: 10%;
	margin-left: 9%;
	background-color: rgba(207, 4, 4, 0.089);

}
.aviso{
	color: rgba(207, 4, 4, 0.605);
}
/*-------------------------------- footer -----------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.acoes{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ededed;
	height: 50px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	z-index: 9998;
}

.acoes span{
	color: #b521e2;
	font-size: 35px;
	z-index: 9999;
}
