body {
    font-family: "Roboto", sans-serif;
}

header {
    background: linear-gradient(180deg, rgba(25, 100, 126, 1) 0%, rgba(40, 175, 176, 1) 100%);
}

footer{
    background: linear-gradient(180deg, rgba(40, 175, 176, 1) 0%, rgba(25, 100, 126, 1) 100%);
    color: white;
    height: 100px;
}

.text-header {
    color: #FFF !important;
}

.btn-download {
    background-color: green !important;
    border: none;
}

.btn-download:hover {
    background-color: rgb(0, 94, 0) !important;
}

.navbar-brand,
.nav-link {
    color: #FFF !important;
}

.text-primary {
    color: rgba(40, 175, 176, 1) !important;
}

.text-secundary{
    color: magenta !important;
}

.postCont{
    background-color: #F9F9F9;
    padding-left: 1em;
    padding-right: 1em; 
    padding-top: 0.5em;
}

.posts{
    margin-top: 10px;  
    padding: 1em;
    background-color: #EDEDED;
}