*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/*Link para ícone https://fonts.google.com/icons*/
body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ededed;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 900;
    font-size: 25px;
}

.MesSelecionado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b521e2;

}

.seta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta span{
    font-size: 50px;
    font-weight: 900;
}

/*-------------------------------- footer -----------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.acoes{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ededed;
	height: 50px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	z-index: 9998;
}

.acoes span{
	color: #b521e2;
	font-size: 35px;
	z-index: 9999;
}

/*----------------------- agenda --------------------------------*/

.Agenda {
    width: 100%;
}

.DiasDaSemana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
}

.Dia {
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* Linha fina entre os elementos */
}

.date {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.tarefasAgenda {
    text-align: center;
    margin-top: auto;
}

.tarefa-mark {
    background-color: #b521e2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}

.botaoHoje{
	display: flex;
	border-radius: 15px;
	padding: 5px 9px 5px 9px;
	background-color: #b521e2;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	border-style: none;
	color: #FFF;
	margin: 10px;
}


/*------------------------ modal para selecionar o mes ----------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

/*---------------------- modal tarefas ------------------*/


#modalTarefas {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close-tarefas {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-tarefas:hover,
.close-tarefas:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.task-marker {
    color: red; /* Cor do marcador */
    font-size: 20px;
}

.has-task {
    border: 2px solid #b521e2; /* Destaca o dia com tarefas */
}