*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ededed;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 900;
    font-size: 30px;
}

input[id=titulo]{
	background-color: #a5a5a500;
	color: #b521e2;
	border: none;
	margin-left: 20px;
	
}

input[id=titulo-atividade]{
	background-color: #a5a5a500;
	color: #b521e2;
	border: none;
	margin-left: 20px;
}



input::placeholder [id="titulo"] {
	color: #b521e2
  }

input[id=descricao]{
	background-color: #a5a5a500;
	border: none;
	border-color: #a5a5a500;

}

input:focus {
	border-color: none;
	outline: none; 
}

textarea:focus {
	border-color: none;
	outline: none; 
}

textarea{
	border: none;
	outline: none;
}


.componentes_tarefa{
	margin-top: 50px;
	font-size: 22px;
}


.componente{
	margin-top: 18px;
	margin-bottom: 18px;
	margin-left: 30px;
	margin-right: 20px;
	font-size: 21px;
}

.icon{
	color: rgb(62, 62, 62);
	margin-right: 20px;
}

hr{
	color: #b521e2;
}

/* cores do botão sem flegar */
.form-check-input {
	--switch-track-bg: #e2e2e2; /* Cor de fundo do switch não marcado */
	--border-color-bg: #a5a5a5; /* Cor de fundo do switch marcado */
}

/* cores do botão flegado */
.form-check-input:checked {
	background-color:#c223f39b; /* Cor de fundo quando o switch está marcado */
	border-color: #c00af7; /* Cor da borda quando o switch está marcado */
}


.container_atividades{
	background-color: #ecebeb;
	width: 100%;
}

.atividades{
	margin-left: 35px;
	font-size: 21px;
}
/*-------------------------------- footer -----------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.acoes{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ededed;
	height: 50px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	z-index: 9998;
}

.acoes span{
	color: #b521e2;
	font-size: 35px;
	z-index: 9999;
}
